<header class="topbar">
    <div class="topbar-left">
        <h1 class="page-title">
            {{ page_title or 'Dashboard' }}
        </h1>
    </div>

    <div class="topbar-right">
        <input type="text" class="search-input" placeholder="Pesquisar...">

        <button class="theme-toggle" type="button">
            <i class="fa-solid fa-moon"></i>
        </button>

        <img class="avatar"
             src="https://avatars.githubusercontent.com/u/9919?s=200&v=4"
             alt="Avatar">
    </div>
</header>
